<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Articles Index</h1>
<h4>Please see below for our full list of non-sensical articles</h4>
<% articlesList.forEach(function(article) { %>
<div>
  <a href="/articles/<%= article.id %>"><%= article.title %></a>
  <div>
    <%= article.author %>
    <div>
    	<%= article.content %>
    </div>
  </div>
</div>
<% }) %>
</body>
</html>

