<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Use the Form Below to Submit An Article to our Database</h1>
    <form method="post" action="/articles">
      <input type="text" name="article[title]" placeholder="Article Title"><br />
      <input type="text" name="article[author]" placeholder="Article Author"><br />
      <textarea name="article[content]" placeholder="Brief Summary"></textarea><br />
      <button>Save </button>
    </form>
  </body>
</html>
