<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Use the Form Below to Submit An Article to our Database</h1>
    <form method="post" action="/articles">
      <input type="text" name="title" placeholder="Article Title"><br />
      <input type="text" name="author" placeholder="Article Author"><br />
      <input type="text" name="content" placeholder="Brief Summary"><br />
      <button>Save</button>
    </form>
  </body>
</html>
