<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Welcome to the Daily Planet!</h1>

    <ul>
      <li><a href="#index">Articles</a></li> 
      <li><a href="#about">About</a></li> 
      <li><a href="#contact">Contact</a></li> 
    </ul>

<img src="daily_planet.jpg" alt="daily planet" height="50" width="50">

<h3> Use the navigation below to learn more about our company and submit articles to our database.</h3> 



</body>
</html>

